<div id="splash">
	<div class="content">
		<div class="fadeIn picture-info">
			<a href="https://flic.kr/p/Ssn2xq" target="_blank">CITIC Tower, Central, Hong Kong</a>
		</div>
		<div class="logo">
			<div class="title">{{site.title}}</div>
			<div class="subtext">Developer, Designer, Engineer</div>
		</div>
		<div class="fadeIn arrow">
			<a href="#main-content" title="Scroll to main content"></a>
		</div>
	</div>

	<div class="background">
		<div class="mask"></div>
		<div class="photo"></div>
	</div>
</div>

<script>
// Splash
var img = new Image();
img.onload = function() {
	document.getElementById('splash').classList.add('active');
}
var splash = document.querySelector('#splash .background .photo');
var backgroundImage = window.getComputedStyle(splash).backgroundImage.replace(/url\(|\)|"/g,'');
img.src = backgroundImage;

// Scrolling for splash
document.querySelector('#splash .arrow a').onclick = function() {
	var mainContent = document.getElementById('main-content');
	if (mainContent) scrollTo(document.body, mainContent.offsetTop, 345);
	return false;
}
</script>
