// PAGE COMMON ====================================

.pswp__img {
  background-color: #fff;
}

.pswp {
  font-family: $font-heading;
}

.page-header,
.post-header {
  margin-bottom: $spacer;
  text-align: center;

  .page-title, .post-title {
    @include embellish();
  }
}

.post-content,
.page-content {

  p, ul, ol { margin-bottom: 1.3rem; }

  p+ul { margin-top: -$spacer0; }

  h2 {
    margin-top: $spacer2;
    margin-bottom: $spacer;
  }

  h3 {
    margin-top: $spacer1;
    margin-bottom: $spacer0;
    color: $gray;
  }
}

@include mq-up(md) {
  .page-header,
  .post-header {
    margin-bottom: $spacer2;
  }

  .post-content,
  .page-content {
    font-size: $fs-md;
    line-height: $lh-md;

    p, ul, ol { margin-bottom: $spacer1; }

    h2 {
      margin-top: $spacer4;
      margin-bottom: $spacer1;
    }

    h3 {
      margin-top: $spacer2;
      margin-bottom: $spacer;
      color: $gray;
    }
  }
}

// PAGE HOME ====================================

.select-hide,
.select-show {
  background-color: $gray-lighter;
  color: $gray-lighter;
  white-space: nowrap;
  text-decoration: line-through;
}

.select-show {
  color: #fff;
  background-color: $gray-dark;
}

// PAGE ARTICLES & POST ====================================

.post-list {
  list-style: none;
  padding-left: 0;
  margin-top: $spacer2;

  .post-title {
    color: $brand-color;
    margin-bottom: $spacer0;
  }

  .post {
    margin-bottom: $spacer2;
  }
}

.post-link,
.post-link:hover,
.post-link:focus {
  text-decoration: none;
  color: $body-color;
}

.post-date {
  display: block;
  font-family: $font-heading;
  color: $text-muted;
  margin: $spacer0 0 $spacer;
  font-size: .875rem;
}

// Reset the responsive content
p.post-desc {
  margin-bottom: $spacer;
  margin-top: -$spacer0;
}

// PAGE POST - BAR ------------------
.post .post-header::after,
.post-link::after {
  content: '';
  display: block;
  width: $spacer4;
  height: 5px;
  background: $brand-light-color;
}

.post-link::after {
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transition: .5s all cubic-bezier(.5, -.2, .25, 1.2);
}

.post-link:focus::after,
.post-link:hover::after {
  -webkit-transform: scaleX(3);
  transform: scaleX(3);
}

// PAGE WORK & PROJECTS ====================================

.project {
  font-size: 1rem;
}

.page-content h3.project-title {
  margin-top: 0;
  margin-bottom: $spacer;

  /*a {
    font-weight: bold;
    border-bottom: 5px solid $brand-light-color;
    padding-bottom: $spacer0;

    &:hover,
    &:focus {
      text-decoration: none;
      border-bottom-color: $brand-color;
    }
  }*/
}

.project-image {
  margin-bottom: $spacer1;
  background: #fff;
  box-shadow: 0 0 $spacer rgba(70,70,70,0.1);
}

@include mq-up(md) {
  .page-content h3.project-title {
    margin-bottom: $spacer2;
  }
}

// PORTFOLIO ====================================

.portfolio {
  font-size: 1rem;
  margin-top: $spacer;
  margin-bottom: $spacer;
}

.portfolio-title {
  margin-bottom: $spacer1;

  a {
    font-weight: bold;
    border-bottom: 5px solid $brand-light-color;
    padding-bottom: $spacer0;

    &:hover,
    &:focus {
      text-decoration: none;
      border-bottom-color: $brand-color;
    }
  }
}

.portfolio-item {
  .portfolio-video, .portfolio-photo {
    @include aspect-ratio(600, 350);
    background: #fff;
    box-shadow: 0 0 $spacer rgba(70,70,70,0.1);
    margin-bottom: $spacer;
    width: 100%;
  }
}

.portfolio-item picture[data-index], .portfolio-page picture[data-index]  {
  cursor: pointer;
}

@include mq-up(md) {
  .portfolio {
    margin-top: $spacer2;
  }

  .portfolio-title {
    margin-bottom: $spacer2;
  }
}

// PORTFOLIO PAGE ===============================
.portfolio-page {
  font-size: 1rem;
  text-align: center;
}

.portfolio-page picture {
  text-align: center;

  & > img {
    background: #fff;
    box-shadow: 0 0 $spacer rgba(70,70,70,0.1);
    margin-bottom: $spacer2;
  }

  &:last-of-type > img {
    margin-bottom: 0;
  }

  + p {
    margin-top: $spacer;
  }

  ~ p {
    text-align: left;
  }
}

// PAGE ABOUT ====================================

.lead-about {
  color: $dark-blue;
}

.site-profile {
  float: right;
  width: 7.5rem;
  height: 7.5rem;
  margin-left: $spacer;

  img {
    border-radius: 7.5rem;
  }
}

.infobox {
  @include clearfix();

  .infobox-image {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    float: left;
    margin-right: $spacer1;
    margin-bottom: $spacer1;
  }

  .one-fifth {
    font-style: italic;
  }
}

@include mq-down(sm) {
  .infobox {
    .unit.one-fifth {
      width: auto !important;
    }
  }
}

@include mq-down(md) {
  .infobox {
    .align-left, .align-right {float: none;}

    .one-fifth {
      margin-left: 5rem + $spacer1;
    }
  }
}

@include mq-up(md) {
  .infobox {
    .one-fifth {
      text-align: right;
    }
  }
}

@include mq-up(lg) {
  .site-profile {
    margin-top: -$spacer;
  }
}
