.blog-posts {
	list-style: none;
	padding: 0;
	max-width: $site-content-width;
	margin: 0 auto;

	li {
		display: block;
		margin-bottom: $spacer*1.5;

		&:last-child {
			margin-bottom: 0;
		}

		.title {
			margin-bottom: $spacer/6;
		}

		.details {
			margin-bottom: $spacer/6;
		}

		.excerpt {

		}
	}
}

section .section-content ul.blog-posts {padding-left: 0;}

.blog-post {
	.section-header {
		.subtext {
			padding-top: 0;
			padding-bottom: $spacer;
			margin-top: 0;
			margin-bottom: -$spacer/3;
		}
	}

	.section-content {
		word-wrap: break-word;

		h1, h2 {
			margin-bottom: $spacer;
		}
	}

	h3 {
		margin: 0;
		a {
			color: #000;
			text-decoration: none;
			font-weight: normal;
			font-size: 1.3em;
		}
	}

	h2 {
		text-align: left;
	}

	.blog-post-details {
		padding: $spacer 0 0;
		margin-top: $spacer;
		border-top: 1px solid $light-darker-color;

		.category {
			text-align: center;
		}

		.date {
			text-align: center;
		}

		.date + .category {margin-top: $spacer/2;}
	}

	img[alt="Screen"] {
		box-shadow: 0 0 $spacer/2 $light-darker-color;
	}

	img[alt="Phone Screen"], img[alt="Small Screen"] {
		max-width: $site-content-width/2;
		margin: 0 auto;
		display: block;
		box-shadow: 0 0 $spacer/2 $light-darker-color;
	}
}

.navigation {
	overflow: hidden;
	padding-top: $spacer;

	.prev, .next {
		display: block;
		width: 50%;
		float: left;
	}

	strong {
		display: block;
	}

	.next {
		text-align: right;
		float: right;
	}
}

.pagination {
	overflow: hidden;
	border-top: 1px solid $light-darker-color;
	padding-top: $spacer*2;
	text-align: right;

	.page-number {
	}

	.prev, .next {
		display: inline-block;
		margin-left: $spacer*1.5;
	}
}

.blog-filter {
	a {
		background: $light-darker-color;
		color: $black-color;
  	padding: 0.25em 0.75em;
    font-size: 0.75em;
    border-radius: 1em;

		&:hover {
			//background: $dark-ligher-color;
			//color: $white-color;
			text-decoration: none;
		}
	}
}

.blog-filter.cross a {
	overflow: hidden;

	&:after {
		content: "x";
		font-size: 1.5em;
		position: relative;
    padding-left: 0.25em;
		top: 2px;
	}
}
