header {
	color: $white-color;
	padding: $spacer;
	background: $dark-color;

	@media #{$mid-point} {
		width: $site-header-width;
		position: fixed;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;

		&.pinned {
			height: 100vh;
			position: absolute;
			top: 100vh;
		}

		@include flexbox;
		@include flex-direction(column);
		@include justify-content(space-between);
	}

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}

	.site-name {
		font-size: 1.25em;
		font-weight: 700;
		line-height: 1;
		letter-spacing: -0.25px;
		padding-bottom: $spacer/2;

		@media #{$mid-point} {
			padding-bottom: $spacer;
		}

		a {
			border: 2px solid $blue-color;
			color: $blue-color;
			text-align: center;
			display: block;
			line-height: 35px;
			font-weight: 500;
			height: 38px;
			width: 180px;
		}

		svg {
			display: inline-block;
			padding-right: 2px;
			margin-bottom: -3px;
			height: 20px;
			width: 20px;
			fill: currentColor;
		}
	}

	.contact-links {

	}
}

nav {
	padding-bottom: $spacer;

	a {
		margin-right: $spacer;
		color: $dark-ligher-color;
		display: inline-block;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: $white-color;
		}

		@media #{$mid-point} {
			margin: 5px 0;
			padding: 2.5px 0;
			display: block;
		}

		&.active {
			color: $white-color;
			font-weight: 600;
		}
	}

	@media #{$mid-point} {
		a.highlight {
			border: 1px #ccc solid;
			border-radius: 5px;

			&:hover {
				background: #fff;
				color: $brand-color;
			}
		}
	}
}
