.project-highlights {
	@media #{$tablet} {
		@include columns(3);
		@include column-gap($spacer/3);
		margin-bottom: -$spacer/3;
	}

	@media #{$mid-point} {
		@include columns(4);
		@include column-gap($spacer/3);
		margin-bottom: -$spacer/3;
	}

	.highlight {
		break-inside: avoid;
		background-color: $light-darker-color;
		background-size: cover;
		margin-bottom: $spacer/3;
		position: relative;

		a {
			display: block;
			@include flexbox;
			@include flex-direction(column);
			position: relative;
			z-index: 1;
			padding: $spacer $spacer*1.075 $spacer $spacer;
			color: $black-color;
			text-decoration: none;
			border-top: 1px solid rgba($white-color,0.25);
			background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.1));
			text-shadow: 0 1px 0 rgba($white-color,0.25);

			@media #{$tablet} {
				height: 450px;
			}

			&[href]:hover {
				background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.25));
				.title {text-decoration: underline;}
			}
		}

		&.dark {
			background-color: $dark-ligher-color;
			a {color: $white-color; text-shadow: 0 1px 0 rgba($dark-color,0.25);}
		}

		&.blue {
			background-color: $theme-blue-color;
			a {color: $white-color; text-shadow: 0 1px 0 rgba($dark-color,0.25);}
		}
		&.red {
			background-color: $theme-red-color;
			a {color: $white-color; text-shadow: 0 1px 0 rgba($dark-color,0.25);}
		}
		&.orange {
			background-color: $theme-orange-color;
		}
		&.yellow {
			background-color: $theme-yellow-color;
		}
		&.green {
			background-color: $theme-green-color;
			a {color: $white-color; text-shadow: 0 1px 0 rgba($dark-color,0.25);}
		}
		&.brown {
			background-color: $theme-brown-color;
			a {color: $white-color; text-shadow: 0 1px 0 rgba($dark-color,0.25);}
		}
		&.purple {
			background-color: $theme-purple-color;
			a {color: $white-color; text-shadow: 0 1px 0 rgba($dark-color,0.25);}
		}
		&.light-blue {
			background-color: $theme-light-blue-color;
			a {color: $white-color; text-shadow: 0 1px 0 rgba($dark-color,0.25);}
		}

		.title {
			font-size: 1.176em;
		}

		.subtext {
			margin-top: $spacer/3;
			font-size: 0.824em;
			line-height: 1.65em;
			@include flex-grow(1);
		}

		.picture {
			max-height: 300px;
			max-width: 300px;
			display: inline-block;
			margin: $spacer auto;
			margin-bottom: -$spacer;
		}

		@media #{$tablet} {
			margin-top: 0;
		}

		&.intro {
			a {@include justify-content(center);}
			br {display: none;}

			@media #{$tablet} {
				br {display: block;}
				.subtext {margin-bottom: $spacer/2; @include flex-grow(0);}
			}
		}
	}
}

.projects {
	padding: 0;
	margin: 0;
	max-width: $site-content-width;
	margin: $spacer auto 0;

	.project {
		margin: $spacer*1.5 0;

		.title {
			margin-bottom: $spacer/3;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
