body {
  background: #FFF;
  color: #222;
  font-size: 1.1em;
  line-height: 2em;
  padding: 0;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: 'Montserrat', serif;
  letter-spacing: -0.01em;
}

@-ms-viewport {width: device-width;}
*, *:before, *:after {box-sizing: border-box; -moz-box-sizing: border-box;}
ul {list-style-type: square;}

a {color: #0277BD; text-decoration: none;}
a:hover {text-decoration: underline;}
a:active, a:focus {color: #004A76;}

h1, h2, h3, h4, h5, h6, .h3 {
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  letter-spacing: -0.05em;
}
h1 {font-size: 2.5em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1em;}
h5 {font-size: 0.75em;}
h6 {font-size: 0.5em;}

.embellish {
  display: inline-block;
  background: #222;
  color: #fff;
  padding: 0.35em 0.25em;
  margin: 0.25em 0;
  text-align: center;
  box-shadow: 0.1em 0.1em 0;
}
h1 .embellish {margin-left: 0.25em;}
.embellish.alt {background: #fff; color: #222;}
.embellish a {color: #fff;}
.embellish.alt a {color: #222;}

hr {border: 0; height: 0; border-top: 1px solid rgba(0,0,0,0.025); margin: 0;}

.align-left {text-align: left;}
.align-center {text-align: center;}
.align-right {text-align: right;}

.button {
  display: block;
  margin: 5px 0;
  background: rgb(0,128,0);
  padding: 0.5em 1em;
  color: #FFF;
  text-decoration: none;
  border-radius: 2em;
  max-width: 500px;
  text-align: center;
}
.button:hover {text-decoration: none; color: #FFF; background: rgba(0,128,0,0.75);}

@-webkit-keyframes rainbowcycle {
  0% {background-color: #4CB8C4;}
  25% {background-color: #DD5E89;}
  50% {background-color: #3CD3AD;}
  75% {background-color: #F7BB97;}
  100% {background-color: #4CB8C4;}
}

@keyframes rainbowcycle {
  0% {background-color: #4CB8C4;}
  25% {background-color: #DD5E89;}
  50% {background-color: #3CD3AD;}
  75% {background-color: #F7BB97;}
  100% {background-color: #4CB8C4;}
}

.rainbow {
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.3));
  -webkit-animation: rainbowcycle 60s infinite;
  animation: rainbowcycle 60s infinite;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

.clear:after, .wrapper:after, header:after, footer:after, section:after {
  display: table;
  content: '';
  clear: both;
}

header {
  text-align: center;
  overflow: hidden;
  color: #fff;
}

header h1 {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

nav {
  text-align: center;
  color: #FFF;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

nav ul {
  margin: 0;
  padding: 0;
  background-color: rgba(34,34,34,0.5);
}

nav li {
  display: inline-block;
  letter-spacing: -0.05em;
}
nav li a {
  padding: 0.5em 1.25em;
  display: block;
  color: #FFF;
}
nav li a:active, nav li a:focus {color: rgba(255,255,255,0.75);}
nav li.logo {
  float: left;
  position: absolute;
  display: block;
  opacity: 0;
}

@media only screen and (min-width: 586px) {
  nav.fixed ul {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 0.2em solid #fff;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  }
}
@media only screen and (min-width: 786px) {
  nav.fixed li.logo {
    opacity: 1;
    -webkit-transition: opacity 0.5s cubic-bezier(0.67,1.2,0.79,0.85);
    transition: opacity 0.5s cubic-bezier(0.67,1.2,0.79,0.85);
  }
}

main {margin: 0; padding: 0;}

section {padding: 2.5em;}
section h1 {}
section hr {margin: 2em 0;}
section.half {width: 50%; margin: 0 auto;}

section.intro {
  height: calc(100vh - 3.2em);
  min-height: 30em;
  position: relative;
  margin-bottom: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
section.intro .frame {
  color: #fff;
  max-width: 50em;
}
section.intro h1 {font-size: 4em; line-height: 1; font-weight: bold;}

section.about {}
section.about .h3 {padding-right: 0.3em;}

section.works {background: rgba(0,0,0,0.025); padding-left: 0; padding-right: 0; text-align: center;}
section.works .wrapper {text-align: left;}
section.works .item {margin: 2em 0 0;}
section.works .item h3 {margin: 0.75em 0 0;}
section.works .item div:not(.image) {padding: 1em 2.5em;}

section.links ul {padding: 0 0 0 20px;}

footer {
  color: #fff;
  clear: both;
  text-align: center;
}
footer .wrapper {margin: 1.5em auto 2.5em; display: inline-block;}
footer h1 {line-height: 1;}
footer .links a {padding: 0.5em; margin: 0 0.5em;}

/* Responsive */
@media only screen and (max-width: 585px) {
  section.intro h1 {font-size: 2em;}
  section.half {width: auto;}
  nav {height: auto !important;}
  nav li {display: block;}
  section.works .item img {padding-bottom: 1.5em;}
  footer h1 {font-size: 1.5em;}
}

@media only screen and (min-width: 586px) and (max-width: 767px) {
  section.intro h1 {font-size: 3em;}
  section.half {width: 65%;}
  section.works .item img {padding-bottom: 1.5em;}
  footer h1 {font-size: 2em;}
}

@media only screen and (min-width: 768px) {
  section.works .item img {}
}
