body {
    background: #FFF;
    color: #222;
    font-size: 1.2em;
    line-height: 2em;
    padding: 0;
    text-align: justify;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'EB Garamond', 'Georgia', serif;
}

@-ms-viewport {width: device-width;}
*, *:before, *:after {box-sizing: border-box; -moz-box-sizing: border-box;}
ul {list-style-type: square;}

a {color: #0277BD; text-decoration: none;}
a:hover {text-decoration: underline;}
a:active, a:focus {color: #004A76;}

h1, h2, h3, h4, h5, h6, .h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: -0.05em;
}
h1 {font-size: 2.5em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1em;}
h5 {font-size: 0.75em;}
h6 {font-size: 0.5em;}

h1.embellish {
    display: inline-block;
    background: #222;
    color: #FFF;
    padding: 0.5em 0.3em;
    margin: 0.25em 0;
    text-align: center;
}

hr {border: 0; height: 0; border-top: 1px solid rgba(0,0,0,0.025); margin: 0;}

.align-left {text-align: left;}
.align-center {text-align: center;}
.align-right {text-align: right;}

.button {
    display: block;
    margin: 5px 0;
    background: rgb(0,128,0);
    padding: 0.5em 1em;
    color: #FFF;
    text-decoration: none;
    border-radius: 2em;
    max-width: 500px;
    text-align: center;
}
.button:hover {text-decoration: none; color: #FFF; background: rgba(0,128,0,0.75);}

.wrapper {
    max-width: 55em;
    margin-left: auto;
    margin-right: auto;
}

.clear:after, .wrapper:after, header:after, footer:after, section:after {
    display: table;
    content: '';
    clear: both;
}

header {
    background: url(img/starbg.jpg) center center #80A9AB; /* linear-gradient(to bottom, rgba(69,150,218,0.7), rgba(128,169,171,0.7)) */
    background-size: cover;
    text-align: center;
    overflow: hidden;
    color: #FFF;
}

header h1 {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

header svg {
    width: 20em;
    margin: 4.5em 0 3.5em;
}

header svg path {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1px;
    stroke: #FFF;
    fill: none;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s cubic-bezier(0.67,1.2,0.79,0.85) forwards;
    animation: dash 1.5s cubic-bezier(0.67,1.2,0.79,0.85) forwards;
    opacity: 0;
}

body:not(.ie) header svg path.a1 {stroke-dasharray: 60; stroke-dashoffset: 60;}
body:not(.ie) header svg path.a1s {stroke-dasharray: 10; stroke-dashoffset: 10;}
body:not(.ie) header svg path.b {stroke-dasharray: 60; stroke-dashoffset: 60;}
body:not(.ie) header svg path.r {stroke-dasharray: 25; stroke-dashoffset: 25;}
body:not(.ie) header svg path.a2 {stroke-dasharray: 40; stroke-dashoffset: 40;}
body:not(.ie) header svg path.h {stroke-dasharray: 60; stroke-dashoffset: 60;}
body:not(.ie) header svg path.a3 {stroke-dasharray: 40; stroke-dashoffset: 40;}
body:not(.ie) header svg path.m {stroke-dasharray: 50; stroke-dashoffset: 50;}
body:not(.ie) header svg path.y {stroke-dasharray: 150; stroke-dashoffset: 150;}
body:not(.ie) header svg path.u {stroke-dasharray: 40; stroke-dashoffset: 40;}
body:not(.ie) header svg path.e {stroke-dasharray: 40; stroke-dashoffset: 40;}
body:not(.ie) header svg path.n {stroke-dasharray: 40; stroke-dashoffset: 40;}

@-webkit-keyframes dash {to {stroke-dashoffset: 0; opacity: 1;}}
@keyframes dash {to {stroke-dashoffset: 0; opacity: 1;}}

nav {
    text-align: center;
    color: #FFF;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    margin: 0;
    padding: 0;
    background-color: rgba(34,34,34,0.5);
}

nav li {
    display: inline-block;
    letter-spacing: -0.05em;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
nav li a {
    padding: 0.5em 1.25em;
    display: block;
    color: #FFF;
}
nav li a:active, nav li a:focus {color: rgba(255,255,255,0.75);}
nav li.logo {
    float: left;
    position: absolute;
    display: block;
    opacity: 0;
    background: #222;
}

@media only screen and (min-width: 586px) {
    nav.fixed ul {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}
@media only screen and (min-width: 786px) {
    nav.fixed li.logo {
        opacity: 1;
        -webkit-transition: opacity 0.5s cubic-bezier(0.67,1.2,0.79,0.85);
        transition: opacity 0.5s cubic-bezier(0.67,1.2,0.79,0.85);
    }
}

main {
    margin: 2.5em 0;
    padding: 0 2.5em;
}

/*main h1, main h2, main h3 {display: inline-block; clear: both;}
main h1:after, main h2:after, main h3:after {background: #9CD6E0; width: 100%; height: 1px; content: ''; display: block; z-index: -1; position: relative;}
main h1:after {bottom: 2px;}
main h3:after {bottom: 9px;}*/

section {margin: 2.5em auto;}
/*section h1 {border-top: 2px solid rgba(0,0,0,0.1); padding: 1em 0 0.5em;}*/
section h1 {padding: 0.5em 0;}
section hr {margin: 2em 0;}
section.half {width: 50%;}

section.about {}
section.about .h3 {padding-right: 0.3em;}

section.works {background: rgba(0,0,0,0.025); margin: 0 -2.5em; padding: 2.5em;}
section.works .item {margin: 2em 0 0;}
section.works .item h3 {margin: 0.75em 0 0;}

section.links ul {padding: 0 0 0 20px;}

footer {
    background: url(img/starbg-ground.jpg) center center #000805;
    background-size: cover;
    color: #FFF;
    clear: both;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
footer .wrapper {margin: 2.5em auto; display: inline-block;}
footer small {font-size: 0.5em; display: block; line-height: 0; margin: 0 0 -0.25em;}


/* Responsive */
@media only screen and (max-width: 567px) {
    header svg {width: 75%; margin: 2.5em auto 0.5em;}
    section.half {width: auto;}
    nav {height: auto !important;}
    nav li {display: block;}
    section.works .item img {padding-bottom: 1.5em;}
}

@media only screen and (min-width: 586px) and (max-width: 767px) {
    header svg {margin: 2.5em 2.5em 1.5em;}
    section.half {width: 65%;}
    section.works .item img {padding-bottom: 1.5em;}
}

@media only screen and (min-width: 768px) {
    section.works .item img {padding-right: 1.5em;}
}
