---
layout: default
---
<section class="blog-post">
	<div class="section-header">
		{% if page.categories %}
			<span class="subtext">
				{% for category in page.categories %}
					<span class="blog-filter">
						<a{% comment %} href="{{ site.baseurl }}/category/{{ category }}/"{% endcomment %}>{{ category | capitalize }}</a>
					</span>
				{% endfor %}
			</span>
		{% endif %}
		{% if page.heading %}
			<h1>{{ page.heading }}</h1>
		{% elsif page.title and page.layout != 'archive' %}
			<h1>{{ page.title }}</h1>
		{% endif %}
	</div>

	<div class="section-content">
		{{ content }}
	</div>

	<div class="blog-post-details">
		{% comment %}
		<div class="date">
			{{ page.date | date: "%B %-d, %Y" }}
		</div>
		{% endcomment %}

		{% if page.categories %}
			<div class="category">
				{% for category in page.categories %}
					<span class="blog-filter">
						<a{% comment %} href="{{ site.baseurl }}/category/{{ category }}/"{% endcomment %}>{{ category | capitalize }}</a>
					</span>
				{% endfor %}
			</div>
		{% endif %}

		<div class="navigation">
			<div class="prev">
				{% if page.previous.url %}
					<strong>Previous</strong>
					<a href="{% include relative-src.html src=page.previous.url %}">{{ page.previous.title }}</a>
				{% endif %}
			</div>

			<div class="next">
				{% if page.next.url %}
					<strong>Next</strong>
					<a href="{% include relative-src.html src=page.next.url %}">{{ page.next.title }}</a>
				{% endif %}
			</div>
		</div>
	</div>
</section>
